[Desktop Entry]
Type=Application
Icon=harbour-kontroller
Exec=/usr/bin/kontroller
Name=Kontroller
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=kontroller
